h1{
    text-decoration: ;
    background-color: rgb(20, 153, 158);
    background-image: url(https://i.pinimg.com/736x/ac/34/72/ac347240dd28534798bc4b409c69eca9.jpg
    );
    
}
a{
    text-decoration: none;
}
p {
    text-align: justify;
    text-indent: 2rem;
    letter-spacing: 2px;
   
    /* white-space: nowrap; */
}
/* p{
    font: 1.2em "Fira sans", sans-serif;
} */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-weight: 100;
    
}
