*{
    font-family: sans-serif;
}
html,body{
    padding: 0;
    margin: 0;

}
.kepala{
    min-height: 100vh;
    
}
.leher{
    /* text-align: justify; */
    background-color: darkgoldenrod;
    padding: 2rem;
    border-top: 10px rgb(251, 0, 255) solid;
    font-size: 1rem;
}
.badan{
    background-color: darkgreen;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kaki{
    color: aliceblue;
    background-color: black;
    padding: 2rem;
    border-top: 2px white solid;
}
.kaki img{
    width: 30px;
    background-color: aliceblue;
    padding: 0.3rem;
    border-radius: 10px;
    transition: 1s;
    margin: 0 1rem;
}
.kaki img:hover{
    width: 40px;
    background-color: darkgreen;

}
.table:hover{
    font-size: 2rem;

}
.table{
    background-color: rgba(0, 0, 0, 0.201);
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 1s;
    color: aliceblue;
}